<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtbo3R9eFQKrz9oCSpjvAdZgDFPidwIFA</string>
	<key>GCM_SENDER_ID</key>
	<string>698461246004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naphtali2003.ClubHub</string>
	<key>PROJECT_ID</key>
	<string>clubhub-fd91f</string>
	<key>STORAGE_BUCKET</key>
	<string>clubhub-fd91f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698461246004:ios:78f627a07f8fa48f617061</string>
</dict>
</plist>